body, div, ul { margin: 0; padding: 0; }

body {
  background-color: #2F3031;
  color: white;
  font-family: Arial, sans-serif;  
  font-size: 13px;
  margin-top: 100px;
}

html{
scroll-behavior: smooth;
}


/************ Image Accueil *************/ 

#monde{ 
width: 98%; 
margin-left: 10px;
margin-top: -50px;
}

#tel{ 
width: 50%; 
margin-left: -180px;
}

#tel:hover{
  background:#2F3031;
  opacity:0.7;
  transition: .5s ease;
}

#pc{ 
width: 50%; 
margin-left: -180px;
margin-top: -18px;
}

#pc:hover {
  background:#2F3031;
  opacity:0.7;
  transition: .5s ease;
}

#internet{ 
width: 142%; 
margin-left: -180px;
margin-top: -13px;
}

#internet:hover {
  background:#2F3031;
  opacity:0.7;
  transition: .5s ease;
}

#console{ 
width: 90.4%; 
margin-left: 270px;
margin-top: -430px;
margin-bottom: 11px;
}

#console:hover {
  background:#2F3031;
  opacity:0.7;
  transition: .5s ease;
}

#tv{ 
width: 90.4%; 
margin-left: 270px;
margin-top: -430px;
margin-bottom: 12px;
}

#tv:hover {
  background:#2F3031;
  opacity:0.7;
  transition: .5s ease;
}

#console:hover {
  background:#2F3031;
  opacity:0.7;
  transition: .5s ease;
}

/***************************************/ 

#global { 
width: 900px; 
margin: 0 auto; 
}

/************ Entete ***********/ 
#entete { 
height: 80px; padding: 10px;
background-color: none; 
color: white;
margin-left: -180px;
margin-bottom: 50px;
font-size: 14px;
}

#entete2 { 
height: 80px; padding: 10px;
background-color: none; 
color: white;
margin-left: -180px;
margin-top: 70px;
font-size: 14px;
}
/*******************************/ 

/************ MENU *************/  

#techno { 
width: 143px; 
margin-left: -950px;
margin-top: 5px;
}

#barreMenu{
  width: 30%; 
margin-left: -500px;
margin-top: -10px;
}

#barreMenu:hover {
  background:#2F3031;
  opacity:0.5;
  transition: .5s ease;
}

#blocmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #333;
  top: 0;
  position: fixed;
}
#blocmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width:100%;

}

#blocmenu li {
  float: left;
  margin-left: 227px;
  margin-right: -180px;
}
#blocmenu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 22px 24px;
  text-decoration: none;
  margin-top: 10px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: gray;
}

#fleche{
  width: 5%;
  margin-left: 47%;
  margin-top: -230px;
  margin-bottom: 160px;
}

/*******************************/


/***** Contenu de la page ******/

#contenu { padding: 10px; 
background-color: none;
color: white;
margin-top: 150px;
 }

#contenu2 { padding: 10px; 
background-color: none;
color: white;
margin-left: -150px;
 }
/*******************************/

/***** pied de page ******/

#copyright{
  margin-left: 60px;
}

/*************************/


/***** page telephone ******/

#evTel{
  margin-left: -140px;
  width: 90%;
}

#pTel{
  margin-left: 0px;
}

h1{
  color: #EAEAEA;
  font-weight: bold;
}

/****************************/

/***** page ordinateur ******/

#eniac{
  width: 40%;
}
#ordi{
  width: 27%;
}
#ibm{
  width: 27%;
}

/****************************/

/***** page console ******/
#maniavox{
  width: 35%;
  margin-left: 12%;
}

#Fairchild{
  width: 35%;
  margin-left: 12%;
}

#nes{
  width: 35%;
  margin-left: 12%;
}

#gameboy{
  width: 35%;
  margin-left: 12%;
}

#mega{
  width: 35%;
}

#saturn{
  width: 45%;
}

#ps1{
  width: 40%;
}

#ps2{
  width: 30%;
  margin-left: 12%;
}

#psp{
  width: 30%;
  margin-left: 12%;
}

#ps4x{
  width: 40%;
  margin-left: 12%;
}

#histconsole{
  width: 80%;
}

/****************************/

/***** page tv ******/

#evoltv{
 margin-left: -7%;

}

#noiretblanc{
  width: 35%;
  margin-left: 12%;
}

#couleur{
  width: 35%;
  margin-left: 12%;
}

#smart{
  width: 35%;
  margin-left: 12%;
}


/****************************/


/***** page internet ******/
#iticon{
  width: 65%;

}

#www{
  width: 35%;
  margin-left: 12%;
}

#web1{
  width: 60%;
  margin-left: 12%;
}

#web2{
  width: 50%;
  margin-left: 12%;
}
/****************************/
