body, div, ul { margin: 0; padding: 0; }

body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;  
  font-size: 13px;
  margin-top: 100px;
  text-align: center;
}

html{
scroll-behavior: smooth;
}


/************ Image Accueil *************/ 



#global { 
width: 900px; 
margin: 0 auto; 
}

/************ Entete ***********/ 
#entete { 
height: 80px; padding: 10px;
background-color: none; 
color: rgb(0, 0, 0);
margin-left: -180px;
margin-bottom: 50px;
font-size: 14px;
}

#entete2 { 
height: 80px; padding: 10px;
background-color: none; 
color: rgb(0, 0, 0);
margin-left: -180px;
margin-top: 70px;
font-size: 14px;
}
/*******************************/ 

/************ MENU *************/  

#techno { 
width: 143px; 
margin-left: -950px;
margin-top: 5px;
}

#barreMenu{
  width: 30%; 
margin-left: -500px;
margin-top: -10px;
}

#barreMenu:hover {
  background:#2F3031;
  opacity:0.5;
  transition: .5s ease;
}

#blocmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #333;
  top: 0;
  position: fixed;
}
#blocmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width:100%;

}

#blocmenu li {
  float: left;
  margin-left: 227px;
  margin-right: -180px;
}
#blocmenu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 22px 24px;
  text-decoration: none;
  margin-top: 10px;
}

#blocmenu li ul {
  display: block;
  color: white;
  text-align: center;
  padding: 22px 24px;
  text-decoration: none;
  margin-top: 10px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: gray;
}

#fleche{
  width: 5%;
  margin-left: 47%;
  margin-top: -230px;
  margin-bottom: 160px;
}

/*******************************/


/***** Contenu de la page ******/

#contenu { padding: 10px; 
background-color: none;
color: white;
margin-top: 150px;
 }

#contenu2 { padding: 10px; 
background-color: none;
color: white;
margin-left: -150px;
 }
/*******************************/

/***** pied de page ******/

#copyright{
  margin-left: 60px;
}

/*************************/

